listen=NO
listen_ipv6=YES
anonymous_enable=NO
local_enable=YES
write_enable=YES
#local_umask=022
#anon_upload_enable=YES
#anon_mkdir_write_enable=YES
dirmessage_enable=YES
use_localtime=YES
xferlog_enable=YES
connect_from_port_20=YES
#chown_uploads=YES
#chown_username=whoever
#xferlog_file=/var/log/vsftpd.log
#xferlog_std_format=YES
#idle_session_timeout=600
#data_connection_timeout=120
#nopriv_user=ftpsecure
#async_abor_enable=YES
#ascii_upload_enable=YES
#ascii_download_enable=YES
#ftpd_banner=Welcome to blah FTP service.
#deny_email_enable=YES
#banned_email_file=/etc/vsftpd.banned_emails
#chroot_local_user=YES
#chroot_local_user=YES
#chroot_list_enable=YES
#chroot_list_file=/etc/vsftpd.chroot_list
#ls_recurse_enable=YES
secure_chroot_dir=/var/run/vsftpd/empty
pam_service_name=vsftpd.virtual
rsa_cert_file=/etc/letsencrypt/live/cgservice/fullchain.pem
rsa_private_key_file=/etc/letsencrypt/live/cgservice/privkey.pem
#ssl_enable=YES

# see http://vsftpd.beasts.org/vsftpd_conf.html
allow_writeable_chroot=YES
anon_umask=022
guest_enable=YES
user_sub_token=$USER
user_config_dir=/etc/vsftpd_user_conf
anon_root=/var/run/vsftpd/empty
download_enable=NO
hide_ids=YES

# Change then to `YES' to force all logins to use a secure SSL connection.
force_anon_data_ssl=NO
force_anon_logins_ssl=NO
force_local_logins_ssl=NO


# per user config

# Which is the root directory?
#local_root=/srv/ftp/cscg

# Can upload file?
#anon_upload_enable=YES

# Can mkdir?
#anon_mkdir_write_enable=YES

# Can delete file, rename file and modify file?
#anon_other_write_enable=YES

# Can download file?
#download_enable=YES

# No hide uid?
#hide_ids=NO
