import os

FTP_MASQUERADE_ADDRESS = '166.111.68.30'
FTP_BIND_PORT = 21
FTP_ROOT = '/srv/ftp'
FTP_LOG_FILE_PATH = '/var/log/pyftpd/pyftpd.log'
FTP_TLS_ENABLE = os.environ.get('SSL_ENABLE') == '1'
FTP_TLS_CERTFILE = '/etc/letsencrypt/live/cgservice/fullchain.pem'
FTP_TLS_KEYFILE = '/etc/letsencrypt/live/cgservice/privkey.pem'

CGSERVER_AUTH_URL = 'http://cgserver/serverlist/ftpauth'
CGSERVER_INSECURE_CHECK_URL = 'http://cgserver/serverlist/ftpinsecurecheck'
CLIENT_SECRET = 'secret'
